Create a .env file into the root of project
Put this environment variables before start coding

# MONGODB_URI - Mongo DB uri connection string, get one free on atlas.mongodb.com
# JWT_PRIVATE_KEY - Json web tokens private key, generate one on https://www.uuidgenerator.net/
# CP_CLIENT_KEY - Coinpayments API key public - generate one on https://www.coinpayments.net/
# CP_CLIENT_SECRET - Coinpayments API key secret - generate one on https://www.coinpayments.net/
# IPN_URL - An IPN for testing payments, use https://redtrader-api.herokuapp.com/api/payments/hook
# SMTP_HOST - an SMTP host for testing emails, get free one on https://es.sendinblue.com/
# SMTP_PORT - an SMTP port provided by your email provider, get free one on https://es.sendinblue.com/
# SMTP_USER - Your SMTP email account
# SMTP_PASSWORD - Your SMTP password provided by your SMTP provider
# CLIENT_URL - use http://localhost:3000 for default
# FFMPEG_PATH - Your FFMPEG Path

If you do not have FFMPEG installed, install on https://ffmpeg.org/download.html, select your operation device.
If you are on linux, default instalation folder is /usr/bin/ffmpeg, on windows is C:/FFmpeg/bin/FFmpeg, put this path into the FFMPEG_PATH variable